.wp-block-columns {
  gap: var(--base-gap);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  //margin-bottom: var(--base-space);

  &.has-background {
    padding: var(--base-offset-vertical) var(--base-offset);
  }

  .wp-block-column {
    margin-left: unset !important;

    :last-child {
      margin-bottom: 0;
    }

    @media (min-width: 600px) and (max-width: 781px) {
      &:not(:only-child) {
        flex-basis: calc(50% - var(--base-gap)) !important;
      }
    }

    @media (max-width: 599px) {
      margin-bottom: var(--base-space);
    }
  }
}
