.editor-styles-wrapper .is-root-container {
  .wp-block-columns {
    gap: var(--base-gap);
    margin-top: 0;
    margin-bottom: 0;

    &.has-background {
      padding: var(--base-offset-vertical) var(--base-offset);
    }

    .wp-block-column {
      margin-left: unset !important;

      .wp-block {
        :last-child {
          margin-bottom: 0;

          > * {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
