.editor-styles-wrapper .is-root-container {
  .wp-block-columns {
    gap: var(--base-gap);
    margin-top: 0;
    margin-bottom: 0;

    &.has-space-before {
      margin-top: var(--base-offset-vertical);
    }

    &.has-space-after {
      margin-bottom: var(--base-offset-vertical);
    }

    &.is-boxed {
      width: 100%;
      max-width: var(--base-layout-width) !important;
      margin-left: auto;
      margin-right: auto;
    }

    &.has-background {
      padding: var(--base-offset-vertical) var(--base-offset);
    }

    .wp-block-column {
      margin-left: unset !important;

      :last-child {
        margin-bottom: 0;
      }
    }
  }
}
