.editor-styles-wrapper .is-root-container {
  .wp-block-cover,.wp-block-cover-image {
    padding: var(--base-offset);

    &.has-space-before {
      margin-top: var(--base-offset-vertical) !important;
    }

    &.has-space-after {
      margin-bottom: var(--base-offset-vertical) !important;
    }

    &__inner-container :last-child {
      margin-top: 0;
      margin-bottom: 0;
    }

    .subtitle {
      padding-left: unset;
    }
  }
}
