.editor-styles-wrapper .is-root-container {
  .wp-block-cover,.wp-block-cover-image {
    &__inner-container {
      padding-top: var(--base-offset-vertical);
      padding-bottom: var(--base-offset-vertical);

      &:last-child {
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    .subtitle {
      padding-left: unset;
    }
  }
}
