.site-layout-container {
  width: 100%;

  > * {
    width: var(--base-content-width);
    max-width: calc(100% - calc(2 * var(--base-offset)));
    margin-left: auto;
    margin-right: auto;

    &.alignwide {
      width: var(--base-layout-width);

      &.wp-block-group > * {
        padding-left: var(--base-offset);
        padding-right: var(--base-offset);
      }
    }

    &.alignfull {
      width: 100%;
      max-width: 100%;
    }

    &.wp-block-group {
      &.inner-alignwide > * {
        width: var(--base-layout-width);
        max-width: calc(100% - calc(2 * var(--base-offset)));
        margin-left: auto;
        margin-right: auto;
      }

      &.inner-aligncontent > * {
        width: var(--base-content-width);
        max-width: calc(100% - calc(2 * var(--base-offset)));
        margin-left: auto;
        margin-right: auto;
      }
    }

    &.wp-block-cover {
      &.inner-alignwide .wp-block-cover__inner-container > * {
        width: var(--base-layout-width);
        max-width: calc(100% - calc(2 * var(--base-offset)));
        margin-left: auto;
        margin-right: auto;
      }

      &.inner-aligncontent .wp-block-cover__inner-container > * {
        width: var(--base-content-width);
        max-width: calc(100% - calc(2 * var(--base-offset)));
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .has-space-before {
    margin-top: var(--base-offset-vertical) !important;
  }

  .has-space-after {
    margin-bottom: var(--base-offset-vertical) !important;
  }

  > :first-child:not(div) {
    margin-top: var(--base-offset-vertical);
  }

  iframe {
    width: 100%;
    max-width: 100%;

    @media (max-width: 599px) {
      max-height: 60vw;
    }
  }
}
