.editor-styles-wrapper {
  .is-root-container {
    width: 100%;

    > * {
      width: var(--base-content-width);
      max-width: calc(100% - calc(2 * var(--base-offset))) !important;
      margin-left: auto;
      margin-right: auto;

      &[data-align=wide] {
        width: var(--base-layout-width);
        max-width: calc(100% - calc(2 * var(--base-offset))) !important;

        > .wp-block-group > * {
          padding-left: var(--base-offset);
          padding-right: var(--base-offset);
        }
      }

      &[data-align=full] {
        width: 100%;
        max-width: 100% !important;
        max-width: none !important;
        margin-left: 0 !important;
        margin-right: 0 !important;

        > * {
          > p,
          > h1,
          > h2,
          > h3,
          > h4,
          > ol,
          > ul,
          > article {
            width: var(--base-content-width);
            max-width: calc(100% - calc(2 * var(--base-offset)));
            margin-left: auto;
            margin-right: auto;
          }
        }
      }

      &[data-align='left'],
      &[data-align='right']{
        float: none !important;
      }

      &[data-align='left'] > * {
        float: left;
      }

      &[data-align='right'] > * {
        float: right;
      }

      &.is-reusable {
        max-width: 100% !important;
        width: 100%;

        > .block-library-block__reusable-block-container {
          padding: var(--base-space);
          border: 1px dashed var(--wp--preset--color--vivid-cyan-blue);
        }
      }
    }
  }

  iframe {
    width: 100%;
    max-width: 100%;

    @media (max-width: 599px) {
      max-height: 60vw;
    }
  }
}
